USE [quarentenario]
GO
/****** Object:  StoredProcedure [dbo].[sp_importacao]    Script Date: 3/14/2026 8:35:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fabio Luiz Paranhos Borelli
-- Create date: 14/03/2026
-- Description:	Importação Material x Patógeno
-- =============================================
CREATE PROCEDURE [dbo].[sp_importacao] 

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DELETE FROM [dbo].[MaterialPatogeno]
	DELETE FROM [dbo].[Patogeno]
	DELETE FROM [dbo].[TipoPatogeno]
	DELETE FROM [dbo].[TipoControle]
	DELETE FROM [dbo].[Material]

	DBCC CHECKIDENT ('[dbo].[Material]', RESEED, 0)
	DBCC CHECKIDENT ('[dbo].[TipoControle]', RESEED, 0)
	DBCC CHECKIDENT ('[dbo].[TipoPatogeno]', RESEED, 0)
	DBCC CHECKIDENT ('[dbo].[Patogeno]', RESEED, 0)
	


	-- Insere dados na tabela TipoPatogeno a partir da tabela de importação, agrupando por tipo de patógeno para evitar duplicatas
	INSERT INTO [dbo].[TipoPatogeno]
		([nome])
	SELECT 
		[TipoPatageno]
	FROM 
		dbo.Importacao i
	GROUP BY 
		[TipoPatageno]
	ORDER BY 
		[TipoPatageno]

	-- Insere dados na tabela TipoControle a partir da tabela de importação, agrupando por tipo de controle para evitar duplicatas
	INSERT INTO [dbo].[TipoControle]
		([nome])
	SELECT
		[TipoControle]
	FROM
		dbo.Importacao i
	GROUP BY
		[TipoControle]
	ORDER BY
		[TipoControle]

	-- Insere dados na tabela Material a partir da tabela de importação, agrupando por tipo de controle para evitar duplicatas
	INSERT INTO [dbo].[Material]
		([nome])
	SELECT
		[Material]
	FROM
		dbo.Importacao i
	GROUP BY
		[Material]
	ORDER BY
		[Material]

	-- Insere dados na tabela Patogeno a partir da tabela de importação, relacionando os tipos de patógeno e controle
	INSERT INTO [dbo].[Patogeno]
		([nome], [idTipoPatogeno], [idTipoControle])
	SELECT
		[Patogeno],
		(SELECT id FROM dbo.TipoPatogeno WHERE nome = i.TipoPatageno),
		(SELECT id FROM dbo.TipoControle WHERE nome = i.TipoControle)
	FROM
		dbo.Importacao i
	GROUP BY
		[Patogeno], [TipoPatageno], [TipoControle]
	ORDER BY
		[Patogeno]

	-- Insere dados na tabela MaterialPatogeno relacionando os materiais e patógenos
	INSERT INTO [dbo].[MaterialPatogeno]
		([idMaterial], [idPatogeno])
	SELECT
		(SELECT id FROM dbo.Material WHERE nome = i.Material),
		(SELECT id FROM dbo.Patogeno WHERE nome = i.Patogeno 
			AND idTipoPatogeno = (SELECT id FROM dbo.TipoPatogeno WHERE nome = i.TipoPatageno) 
			AND idTipoControle = (SELECT id FROM dbo.TipoControle WHERE nome = i.TipoControle))
	FROM
		dbo.Importacao i
	GROUP BY
		[Material], [Patogeno], [TipoPatageno], [TipoControle]
		

END
GO
